*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  line-height: normal;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-size: 16px;
  color: #b7b7b7;
  overflow-x: hidden;
  background: w;
  height: 100%;
  background-color: #d3c89c;
}

textarea,
input:matches([type="email"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="url"]) {
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-size: 16px;
}

input,
textarea {
  border: none;
  outline: none;
  color: black;
}

textarea {
  resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
}

button {
  border: none;
  cursor: hover;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a :hover {
  cursor: hover;
}

img {
  width: 100%;
  max-width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #363636;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
}
#root:before {
  content: "";
  height: 93%;
  position: absolute;
  width: 50%;
  z-index: -1;
  background: #55513e;
   box-shadow: -7px -6px 7px #55513e;
  left: -7px;
  top: 20px;
  transform: rotate(-3.5deg);
}